# Java build files
*.class

# Text-UI-Testing files
text-ui-test/ACTUAL.TXT

# Data files
resources/data.csv

# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/
